.fade{
	&-enter-active, &-leave-active{
		@include transition;
	}
	&-enter, &-leave-to{opacity: 0;}
}

.animate{
    &__animated{
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    &__heartBeat{
        -webkit-animation-name: heartBeat;
        animation-name: heartBeat;
        -webkit-animation-duration: 1.3s;
        animation-duration: 1.3s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    &__infinite{
        -webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
    }
}

@-webkit-keyframes heartBeat {
    0% {-webkit-transform: scale(1);transform: scale(1);}
    14% {-webkit-transform: scale(1.2);transform: scale(1.2);}
    28% {-webkit-transform: scale(1);transform: scale(1);}
    42% {-webkit-transform: scale(1.2);transform: scale(1.2);}
    70% {-webkit-transform: scale(1);transform: scale(1);}
}

@keyframes heartBeat {
    0% {-webkit-transform: scale(1);transform: scale(1);}
    14% {-webkit-transform: scale(1.2);transform: scale(1.2);}
    28% {-webkit-transform: scale(1);transform: scale(1);}
    42% {-webkit-transform: scale(1.2);transform: scale(1.2);}
    70% {-webkit-transform: scale(1);transform: scale(1);}
}