.heading{
    &--1, &--2, &--3, &--4, &--5, &--6{
        line-height: 1.2em;
        text-transform: uppercase;
        color: #333;

        &.fw--bold{font-weight: 700;}
    }
    &--1{font-size: 36px;}
    &--2{font-size: 32px;}
    &--3{font-size: 28px;}
    &--4{font-size: 24px;}
    &--5{font-size: 20px;}
    &--6{font-size: 18px;}
}

.f{
    &--small{font-size: 14px;}
}

.fw{
    &--bold{font-weight: 600;}
}

.text{
    &--uppercase{text-transform: uppercase;}
}