@mixin transition($property: all, $time: .3s, $timing: ease){
	-webkit-transition: $property $time $timing;
	-moz-transition: $property $time $timing;
	-o-transition: $property $time $timing;
	transition: $property $time $timing;
}